.home {
    .feature-icon {
        color: $color-primary;
    }
    .first-phrase {
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 6rem;
        gap: 1rem;
        span {
            font-size: 1.75rem;
        }
    }
    .services {
        .feature {
            max-width: 50rem;
            margin-bottom: 2rem;
            padding: .5rem;
            background-color: rgba(198, 198, 198, .1);
            border-radius: 1rem;
            p {
                width: 20rem;
                font-weight: 300;
                font-size: 1.25rem;
            }
        }
    }
}