.home {
    .header {
        p.aliado {
            font-size: 1rem;
        }
        .title {
            font-size: 4rem;
        }
    }
    .feature-icon {
        color: $color-primary;
    }
    .quote {
        background-color: rgba(92, 164, 230, 1);
        color: $color-white;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        gap: 1rem;
        span {
            font-size: 1.3rem;
            margin: 0 .5rem;
            font-weight: 400;
        }
    }
    .services {
        .feature-group {
            gap: 1rem;
        }
        .feature {
            max-width: 50rem;
            min-width: 20rem;
            margin-bottom: 2rem;
            padding: 1.5rem;
            border-radius: 1rem;
            p {
                font-weight: 400;
                text-align: center;
                padding-top: 2rem;
            }
        }
    }
    .description-title {
        padding-top: 3rem;
        padding-bottom: 3rem;
        span {
            margin: 0;
            &.first {
                font-size: 2.5rem;
                font-weight: 700;
            }
            &.second {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
        p.explanation {
            text-align: start;
        }
    }
    .description {
        .client-card-group {
            gap: 1rem;
        }
    }
}