body {
    font-family: $font-family;
    p {
        font-size: 1rem;
        font-weight: 300;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg {
        max-width: 1500px;
    }
}