@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600&family=Didact+Gothic&family=Inter:wght@400;700;800&family=Outfit:wght@400;700&display=swap');

$font-family: 'Didact Gothic', sans-serif;

$color-primary: #22499a;
$color-secondary: #5ca4e6;
$color-terciary: #40a1d9;